name: CI - Build .NET

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    # Para no estar poniendo "cd 6-1" en cada paso
    defaults:
      run:
        working-directory: 6-1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore 6-1.csproj

      - name: Build
        run: dotnet build 6-1.csproj --configuration Release --no-restore
